@using AdaniCall.Entity.Enums;
@using AdaniCall.Entity;
@using AdaniCall.Business.BusinessFacade;
@using AdaniCall.Resources;
@using AdaniCall.Utility.Common;
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
   @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CallRecord</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CallRecord.styles.css" asp-append-version="true" />*@
    <meta charset="utf-8" />
    <!-- for Internet IE Explore new elements are render like HTML 5. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="YES" name="apple-touch-fullscreen">

    <!-- for apple mobile capable -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link href="~/content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/content/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/content/plugins/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
    <link href="~/content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/content/plugins/bootstrap-dialog/bootstrap-dialog.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @{
        var _id = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserId.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserId.ToString())) : "");
        var _username = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserEmailID.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserEmailID.ToString())) : "");
        var _usernameTrimmed = !string.IsNullOrWhiteSpace(_username) && _username.Length > 17 ? _username.Trim().Substring(0, 17) + "..." : _username;
        var _name = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.FirstName.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.FirstName.ToString())) : "") + " " + (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.LastName.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.LastName.ToString())) : "");
        //var _nameTrimmed = !string.IsNullOrWhiteSpace(_name) && _name.Length > 17 ? _name.Trim().Substring(0, 17) + "..." : _name;
        TempData["nameTrimmed"] = _name;
        var _role = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserRole.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserRole.ToString())) : "");
        var _logo = (HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserLogo.ToString()) != null ? Convert.ToString(HttpContextAccessor.HttpContext.Session.GetString(KeyEnums.SessionKeys.UserLogo.ToString())) : "");
        TempData["_role"] = _role;
        //Console.WriteLine("_role: " + TempData["_role"]);
        if (_id == "")
        {
            HttpContextAccessor.HttpContext.Response.Redirect("/User/Login");
        }
        if (_logo.Contains("no-logo"))
        {
            _logo = "";
        }
        if (_logo != "")
        {
            _logo = _logo.Replace("[UserID]", _id.ToString());
        }
        else
        {
            _logo = "/Content/images/avatar5.png";
        }
    }
</head>
<body class="sidebar-collapse">
    @if (TempData["_role"] == Convert.ToString((byte)RoleEnums.Role.Agent))
    {
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown user user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image img-circle elevation-2" alt=" user image">
                        <span class="hidden-xs">@Resource.lbl_profile</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-primary" style="background-color: #dde6ef !important;">
                            <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                            <p style="color: #232323; font-size: 15px;">
                                @TempData["nameTrimmed"]
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                <a href="/User/Logout" class="btn btn-default">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    }
    <div class="container body-content mainContainer-body-content" style="padding:0px;">
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/scripts/jquery-2.1.3.js"></script>
    <script src="~/scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/scripts/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/scripts/plugins/bs4/bootstrap-dialog.min.js"></script>
    <script src="~/scripts/plugins/bs4/bootstrap-dialog-custom-bs4.js"></script>
    <script src="~/scripts/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/scripts/plugins/overlayscrollbars/js/jquery.overlayscrollbars.min.js"></script>
    <script src="~/scripts/dist/js/demo.js"></script>
    <script src="~/scripts/respond.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CallRecord</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CallRecord - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@